[submodule "graysx-hugo"]
	path = graysx-hugo
	url = https://github.com/akatiggerx04/graysx-hugo/
[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = https://github.com/curtiscde/hugo-theme-massively
